@-ms-viewport{
    width:device-width
}
html{
    box-sizing:border-box;
    -ms-overflow-style:scrollbar
}
*,::after,::before{
    box-sizing:inherit
}

html,body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

hr {
	max-width: 1000px;
	color: #718093;
}

p {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.parallax {
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
	text-decoration: none;
	color: #5352ed;
	transition: all .2s ease-in;
}

a:hover {
	text-decoration: none;
	color: #192a56;
	transition: all .2s ease-in;
}

/* CSS */
.custom_button {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.custom_button:focus {
  outline: 0;
}

.custom_button:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.custom_button:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .custom_button {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

/* Navbar */

.topnav {
	list-style-type: none;
    overflow: hidden;
    background-color: rgb(92, 80, 80);
    box-shadow: 0px 6px 13px -7px rgba(0,0,0,0.20);
    transition: all .2s ease-in;
    font-weight: 700;
    text-transform: uppercase;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
	transition: all .5s ease-in;
    font-size: 19px;
}

.topnav a:hover {
	transform: scale(1.1);
    color: #06d0d7;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  div .max-width {
    max-width: 60%;
    margin: 0 auto;
    box-shadow: none;
  }
}

/* End Navbar */

.about-us {
	transition: all .2s ease-in;
    font-weight: 500;
	padding-left: 5%;
	padding-right: 5%;
	color: white
}

.register {
	transition: all .2s ease-in;
    font-weight: 500;
	padding-left: 5%;
	padding-right: 5%;
	color: white
}

.committees {
	transition: all .2s ease-in;
    font-weight: 500;
	padding-left: 5%;
	padding-right: 5%;
	color: white
}

#head {
	margin: 0;
	padding: 21% 0px 21% 0px;
	text-align: center;
	color: white;
	background: linear-gradient(90deg, rgba(29,174,234,.3) 0%, rgba(29,174,234,0.2) 50%, rgba(29,174,234,.3) 100%);
}

#head h1 {
	font-size: 70px;
	font-weight: 700;
	text-transform: uppercase;
}

#head h3 {
	font-size: 45px;
	text-transform: uppercase;
}

#about {
	margin: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about .about-us-icons {
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 50px;
}

#about .about-us-text {
	margin: 10px;
	padding-left: 9%;
	padding-right: 9%;
}

#about .about {
	font-size: 60px;
	color: #1c2630;
	margin-top: 17px;
}

#about h1 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 15px;
}

#about h2 {
	font-weight: 700;
	margin-top: 5px;
	font-size: 25px;
}

#about p {
	margin-top: 3px;
	font-size: 18px;
}

#committeesBanner {
	background: rgb(46,43,51);
	background: linear-gradient(90deg, #242020 0%, rgba(236, 209, 105,.75) 50%, #242020 100%);
	margin-top: 1%;
	padding: 60px 0px 60px 0px;
	text-align: center;
}

#committeesBanner h1 {
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#committeesBanner h2 {
	margin-top: 5px;
	font-size: 30px;
	color: white;
}

#committees {
	padding-top: 2%;
	padding-bottom: 3%;
}

#committees p {
	padding-left: 1%;
}

#committees .committees {
	font-size: 60px;
	color: #1c2630;
	margin-top: 17px;
}

#committees .committee-list-element {
	padding-top: 2%;
	padding-bottom: 2%;
}
#committees .committee-list-element img {
	transition: transform .3s ease-in-out;
}
#committees .committee-list-element img:hover {
	transform: scale(1.03);
}

#committees h1 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

#committees h2 {
	font-size: 25px;
}

#committees p {
	margin-top: 3px;
	font-size: 20px;
}

#registrationBanner {
	background: rgb(46,43,51);
	background: linear-gradient(90deg, #242020 0%, rgba(236, 209, 105,.75) 50%, #242020 100%);
	padding: 60px 0px 60px 0px;
	text-align: center;
}

#registrationBanner h1 {
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

#registrationBanner h2 {
	margin-top: 5px;
	font-size: 30px;
	color: white;
}

#register {
	padding-top: 0%;
	padding-bottom: 0%;
}

#register .options {
	font-size: 60px;
	color: #1c2630;
	margin-top: 17px;
}

#register .option-element {
	padding-top: 2%;
	padding-bottom: 2%;
}
#register .option-element img {
	position: relative;
	transition: transform .2s ease-in;
}
#register .option-element img:hover {
	transform: scale(1.03);
}

#register .option-element .date-text {
	position: absolute;
	top: 13%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	transition: all .1s ease-out;
	color: #fff; 
	font-weight: 600;
	text-transform: uppercase;
	width: 97.5%;
	padding: 0px 0px; 
	font-size: 35px; 
	text-align: center;
	background: rgba(196, 171, 70,.90);
}

#register h1 {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
}

#register h2 {
	font-size: 25px;
}

#register p {
	margin-top: 3px;
	font-size: 20px;
}

.go-to-top {
	height: 10%;
	width: 5%;
	z-index: 999;
	position: fixed;
	top: 90%;
	left: .5%;
	transition: all .2s ease-in;
	opacity: 1;
}
.go-to-top img {
	border-radius: 10%;
	height: 100%;
	width: 100%;
}

.center {
	margin: 0;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (min-width: 800px) {
	.res-img {
		height: 320px;
	}
}

@media screen and (max-width: 799px) {
	.res-img {
		width: 100%;	}
}

@media screen and (min-width: 800px) {
	.res-img-sm {
		height: 100px;
	}
}

@media screen and (max-width: 799px) {
	.res-img-sm {
		width: 100%;	}
}